this is home!
<ul>
  <li>
    Instructions:
  </li>
  <li>
    1. Create goals
  </li>
  <li>
    2. Assign habits to those goals
  </li>
  <li>
    3. Schedule your habits for when you would like to accomplish them
  </li>
  <li>
    4. Use the Habits page to keep track of your progress
  </li>
</ul>
